/* Estilos para el contenedor principal del widget del carrito */
.cart-widget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

/* Estilos para el ícono del carrito */
.cart-icon {
    font-size: 20px;
}