.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 9vh;
    padding: 0px 20px;
    border: 2px solid black;

}

.title {
    font-size: 25px;
}

.menu {
    padding: 15px;
    border: 2px solid black;
}

