.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 9vh;
    padding: 0px 20px;

}

.title {
    font-size: 25px;
}

.menu {
    padding: 15px;
}

